In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Q1. List any five functions of the pandas library with execution.

ANS : Pandas is a Python library that is used to analyze data. It has many functions for data manipulation, analysis, and visualization. Here are five examples of pandas functions with execution:

1. Pd.DataFrame(): This function creates a two-dimensional data structure with labeled      rows and columns. You can pass a dictionary or a list of lists as the data argument.      For example:

In [3]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df)

   A  B
0  1  4
1  2  5
2  3  6

2. Pd.Series(): This function creates a one-dimensional data structure with labeled          elements. You can pass a list, a tuple, a dictionary or a scalar value as the data        argument. For example:

In [4]:
import pandas as pd
s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(s)

a    10
b    20
c    30
dtype: int64

3. Pd.concat(): This function concatenates pandas objects along a specified axis. You can    pass a list or a dictionary of Series or DataFrame objects as the objs argument. For      example:

In [5]:
import pandas as pd
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
s3 = pd.concat([s1, s2], axis=0)
print(s3)

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64

4. Pd.unique(): This function is used to get unique values of the Series object. Uniques are      returned in order of appearance. For examples:

In [6]:
pd.unique(pd.Series([2, 1, 3, 3]))

array([2, 1, 3])

5. Pd.date_range(): This function is usede to get a fixed frequency DatetimeIndex. For        examples:

In [7]:
pd.date_range(start='1/1/2021', end='1/08/2021')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08'],
              dtype='datetime64[ns]', freq='D')

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [8]:
import pandas as pd
import numpy as np

#Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

#Create a new index array that starts from 1 and increments by 2
new_index = np.arange(1, len(df)*2 + 1, 2)

#Reindex the DataFrame with the new index array
df = df.reindex(new_index)

#Display the DataFrame
print(df)

     A    B    C
1  2.0  5.0  8.0
3  NaN  NaN  NaN
5  NaN  NaN  NaN

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [1]:
import pandas as pd

def calculate_sum_of_first_three(df):
    values_col = df['Values']
    values_sum = sum(values_col[:3])
    print("Sum of the first three values in 'Values' column: ", values_sum)

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
calculate_sum_of_first_three(df)

Sum of the first three values in 'Values' column:  60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [2]:
import pandas as pd

def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

df = pd.DataFrame({'Text': ['This is a test', 'Hello world']})
df = add_word_count(df)
print(df)

             Text  Word_Count
0  This is a test           4
1     Hello world           2

Q5. How are DataFrame.size() and DataFrame.shape() different?

ANS : DataFrame.size() and DataFrame.shape() are different in the following ways:

DataFrame.size() returns the number of elements in the DataFrame, which is the product of the number of rows and columns.

DataFrame.shape() returns a tuple representing the dimensionality of the DataFrame, which is the number of rows and columns as (rows, columns).

In [3]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.size)

import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.shape)

6
(3, 2)

Q6. Which function of pandas do we use to read an excel file?

ANS : To read an Excel file in Pandas, we use the read_excel() function.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [5]:
import pandas as pd

def add_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

df = pd.DataFrame({'Email': ['Dashrath.Singh@example.com', 'Monu.Singh@example.com']})
df = add_username(df)
print(df)

                        Email        Username
0  Dashrath.Singh@example.com  Dashrath.Singh
1      Monu.Singh@example.com      Monu.Singh

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [7]:
import pandas as pd

def select_rows(df):
    selected_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_df

# create the sample DataFrame
df = pd.DataFrame({
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
})

# call the function to select rows where A > 5 and B < 10
selected_df = select_rows(df)

# print the selected rows
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [1]:
import pandas as pd

def calculate_stats(df):
    values_mean = df['Values'].mean()
    values_median = df['Values'].median()
    values_std = df['Values'].std()
    return values_mean, values_median, values_std

# create a sample DataFrame
df = pd.DataFrame({'Values': [1, 2, 3, 4, 5]})

# call the function to calculate stats
mean, median, std = calculate_stats(df)

# print the results
print(f"Mean: {mean}, Median: {median}, Std: {std}")

Mean: 3.0, Median: 3.0, Std: 1.5811388300841898

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [2]:
import pandas as pd

def add_moving_average_column(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# create sample DataFrame
df = pd.DataFrame({
    'Date': pd.date_range(start='2022-01-01', end='2022-01-15'),
    'Sales': [100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800]
})

# add moving average column to DataFrame
df = add_moving_average_column(df)

# print DataFrame with new column
print(df)

         Date  Sales  MovingAverage
0  2022-01-01    100          100.0
1  2022-01-02    150          125.0
2  2022-01-03    200          150.0
3  2022-01-04    250          175.0
4  2022-01-05    300          200.0
5  2022-01-06    350          225.0
6  2022-01-07    400          250.0
7  2022-01-08    450          300.0
8  2022-01-09    500          350.0
9  2022-01-10    550          400.0
10 2022-01-11    600          450.0
11 2022-01-12    650          500.0
12 2022-01-13    700          550.0
13 2022-01-14    750          600.0
14 2022-01-15    800          650.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05

Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [3]:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df

# create sample DataFrame
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', end='2023-01-05')
})

# add weekday column to DataFrame
df = add_weekday_column(df)

# print DataFrame with new column
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [5]:
import pandas as pd

def select_date_range(df):
    mask = df.loc[:, 'Date'].between('2023-01-01', '2023-01-31')
    result = df.loc[mask, :]
    return result

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-15'], 'Value': [1, 2, 3, 4]})
df['Date'] = pd.to_datetime(df['Date'])
result = select_date_range(df)
print(result)

        Date  Value
0 2023-01-01      1
1 2023-01-15      2
2 2023-01-31      3

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

ANS : To use the basic functions of Pandas, the first and foremost necessary library that needs to be imported is pandas itself.

import pandas as pd